body {
	background-color: #121212;
	color: #FFFFFF;
	-webkit-tap-highlight-color: transparent;
	font-family: tahoma;
}

*:focus {
    outline: 0 !important;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#menu {
	width: 495px;
	height: 495px;
	padding: 50px;
	box-sizing: border-box;
}

#testoptions {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 10px;
}

#testoptions button {
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #BB86FC;
	color: #121212;
	font-size: 1.5em
}

#card {
	background-color: rgba(255, 255, 255, .07);
	border-radius: 10px;
	padding: 50px;
	margin: 10px;
	width: 395px;
	user-select: none;
}

#card p {
	margin: 0;
	font-size: 2em;
}

#card input, #card button {
	font-size: 2em;
	border: none;
	width: 100%;
	margin: 5px 0;
	border-radius: 5px;
}

#card input:focus {
	outline: none;
}

.option {
	cursor: pointer;
	background-color: #BB86FC;
	color: #121212;
}

.description {
	font-size: 1.5em !important;
}

.cardoptions {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 5px;
}

.right {
	background-color: #89ee89;
	color: #016601;
}

.wrong {
	background-color: #ee8989;
	color: #660101;
}

#card .result {
	font-size: 1.5em;
	background: none;
}

#card .result.right {
	color: #89ee89;
	margin: 0;
}

#card .result.wrong {
	color: #ee8989;
	margin: 0;
}

#card .title {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 25px;
}

#card .info p {
	font-style: italic;
	font-size: 1.2em;
}

#card hr {
	border-color: rgba(255, 255, 255, .2);
}

.buttonscontainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}
